<!doctype html>
<html>
  <head>
    <title><%- title %></title>
  </head>
  <body>
    <div>
      <div>
        <h1><%- title  %></h1>
        <p>Bienvenido a <%- title %></p>
        <p>Ir a <a href="/pagsig">página siguiente</a></p>
        <p>Ir a <a href="/cat">gato</a></p>
        <p>Ir a <a href="/dog">perro</a></p>
        <p>Volver a <a href="/">home</a></p>
      </div>
    </div>
  </body>
</html>
